.chip {
    height: 60px;
    width: 120px;
    padding: 18px;
    margin-bottom: 12px !important;
}

.headliners{
    padding: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: larger;
}

.content{
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: #2C2F54;
}

.card {
    margin: 10px;
    max-width: 30%;
}

.alignLeft{
    float: left;
}

.alignRight{
    float: right;
}
